/* styles.css */

/* Styles for desktop/laptop */
.names ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/* Styles for mobile */
@media (max-width: 600px) {
  .names ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
